@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #8B5CF6;
  --color-secondary: #EC4899;
}
*{
 font-family: "Inter", sans-serif;
}

body{
   background-color: #000000; 
   color: white;
}